{% extends '::base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-sm-12 text-left">
            <h1 class="text-center">Acerca de wibooki</h1>
            <h2>La idea</h2>
            <div class="row">
                <div class="col-sm-2">
                    <img class="about-image" src="{{ asset('images/about/que-es.svg') }}" alt="Qué es"/>
                </div>
                <div class="col-sm-10 about-idea-text">
                    <p>Una red social educativa para la creación colectiva de contenidos e itinerarios personalizados. Ofrecemos una herramienta abierta y gratuita para crear y editar cualquier tipo de material educativo, como cursos, apuntes o diarios de aprendizaje.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <img class="about-image" src="{{ asset('images/about/para-quien.svg') }}" alt="Para quién"/>
                </div>
                <div class="col-sm-10 about-idea-text">
                    <p>Para todo el mundo. Nos da igual tu edad, de dónde vienes o a dónde vas. Creemos que en esta vida siempre hay algo que aprender y algo que enseñar. Explora los contenidos de la comunidad o publica los tuyos propios. Tú eres la base de este proyecto.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <img class="about-image" src="{{ asset('images/about/por-que.svg') }}" alt="Por qué"/>
                </div>
                <div class="col-sm-10 about-idea-text">
                    <p>Por el potencial de Internet para la mejora de los procesos educativos. Fomentamos, a través de la tecnología, el uso de metodologías de aprendizaje activas, que sitúan a la persona en el centro del proceso y que promueven la comunicación, la colaboración y la participación.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <img class="about-image" src="{{ asset('images/about/para-que.svg') }}" alt="Para qué"/>
                </div>
                <div class="col-sm-10 about-idea-text">
                    <p>Para que cada persona acceda a contenidos educativos abiertos, gratuitos y multimedia, en cualquier momento y desde cualquier lugar, en un entorno en el que se sientan libres para crear, compartir y aprender, de manera individual o a través de un grupo.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <img class="about-image" src="{{ asset('images/about/como.svg') }}" alt="Cómo"/>
                </div>
                <div class="col-sm-10 about-idea-text">
                    <p>Somos una entidad sin ánimo de lucro con un modelo de actividad económica que asegure la sostenibilidad del proyecto a largo plazo. Nuestro modelo se basa en la compraventa  de  contenidos  e  itinerarios  de  pago  y  en  la  oferta  de  planes  de suscripción.</p>
                </div>
            </div>
            <h2>El equipo</h2>
            <div class="row">
                <div class="col-sm-12">
                    <p>Somos un equipo de profesionales especializados en diseño web, ilustración, animación, gráfica de vídeo, programación, desarrollo, edición de contenidos digitales educativos y gestión de proyectos formativos.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 text-center">
                    <div class="col-sm-12 text-center">
                        <div class="row">
                            <div class="col-sm-12">
                                <img class="about-image" src="{{ asset('images/about/miguel.jpg') }}" alt="Diseño gráfico, web e identidad corporativa"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p>Diseño gráfico, web e identidad corporativa</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 text-center">
                    <div class="col-sm-12 text-center">
                        <div class="row">
                            <div class="col-sm-12">
                                <img class="about-image" src="{{ asset('images/about/fer.jpg') }}" alt="Ilustración, animación y gráfica de vídeo"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p>Ilustración, animación y gráfica de vídeo</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 text-center">
                    <div class="col-sm-12 text-center">
                        <div class="row">
                            <div class="col-sm-12">
                                <img class="about-image" src="{{ asset('images/about/carmela.jpg') }}" alt="Coordinación y edición digital"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p>Coordinación y edición digital</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 text-center">
                    <div class="col-sm-12 text-center">
                        <div class="row">
                            <div class="col-sm-12">
                                <img class="about-image" src="{{ asset('images/about/sergio.jpg') }}" alt="Análisis, programación y desarrollo web"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p>Análisis, programación y desarrollo web</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h2>Mecenas</h2>
            <div class="row">
                <div class="col-sm-12">
                    <p>Tal y como prometimos en nuestra campaña de micro-mecenazgo en Goteo, a continuación publicamos los nombres de todas las personas que, con su aportación, hicieron realidad este sueño. Gracias por confiar en wibooki desde el principio y ayudarnos a despegar:</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 padding-0">
                    <img class="full-width" src="{{ asset('images/about/mecenas.gif') }}" alt="Mecenas"/>
                </div>
            </div>
            <h2>Entidades colaboradoras</h2>
            <div class="row">
                <div class="col-sm-12">
                    <p>Las siguientes empresas y organizaciones colaboran o han colaborado con el trabajo que llevamos a cabo desde wibooki:</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 vcenter">
                    <img class="full-width" src="{{ asset('images/about/cuentos-para-el-anden.jpg') }}" alt="Cuentos para el anden"/>
                </div>
                <div class="col-sm-3 vcenter">
                    <img class="full-width" src="{{ asset('images/about/25-espiral.jpg') }}" alt="25 espiral"/>
                </div>
                <div class="col-sm-2 vcenter">
                    <img class="full-width" src="{{ asset('images/about/amigos-de-social-emprende.jpg') }}" alt="Amigos de social emprende"/>
                </div>
                <div class="col-sm-3 vcenter ">
                    <img class="full-width" src="{{ asset('images/about/futurtics.jpg') }}" alt="Futurtics"/>
                </div>
            </div>
            <h2>Apóyanos</h2>
            <div class="row">
                <div class="col-sm-12">
                    <p>Si quieres apoyarnos económicamente y contribuir al desarrollo de este proyecto, puedes realizar una donación al siguiente número de cuenta corriente (Triodos Bank):</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2 class="about-bank-account-text">ES27 1491 0001 2130 0007 0327</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <p>También necesitamos ayuda en la difusión del proyecto a través de redes sociales, blogs y publicaciones sobre educación y tecnología, para que llegue al máximo número de personas posible. Si tienes cualquier tipo de duda o sugerencia, puedes escribirnos a <a href="mailto:info@wibooki.com">info@wibooki.com</a>.</p>
                </div>
            </div>
            <h2>Contacta</h2>
            <div class="row">
                <div class="col-sm-12 text-center">
                    <p><a href="mailto:info@wibooki.com">info@wibooki.com</a></p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-center">
                    <a href="https://www.facebook.com/wibooki" target="_blank"><img src="{{ asset('images/social/facebook-icon.svg') }}" alt="facebook"/></a>
                    <a href="https://twitter.com/wibooki" target="_blank"><img src="{{ asset('images/social/twitter-icon.svg') }}" alt="twitter"/></a>
                    <a href="https://www.youtube.com/wibooki" target="_blank"><img src="{{ asset('images/social/youtube-icon.svg') }}" alt="youtube"/></a>
                    <a href="https://es.pinterest.com/wibooki/" target="_blank"><img src="{{ asset('images/social/pinterest-icon.svg') }}" alt="pinterest"/></a>
                </div>
            </div>
            <br/><br/>
        </div>
    </div>
{% endblock %}

{% block footer %}
<footer class="footer">
    <div class="text-center footer">
        <p>
            <a href="{{ path('acerca-de') }}">Acerca de wibooki</a> |
            <a href="https://blog.wibooki.com" target="_blank">Blog</a> |
            <a href="{{ path('condiciones-de-uso') }}">Condiciones de uso</a> |
            <a href="{{ path('politica-de-privacidad') }}">Política de privacidad</a>
            <br/>
            <span class="cc">c </span>Salvo otras indicaciones, el contenido de esta web está publicado bajo la licencia <a href="https://creativecommons.org/licenses/by-sa/3.0/es/" target="_blank">Creative Commons BY-SA 3.0</a>.<br/>
        </p>
        <div class="clearfix"></div>
    </div>
</footer>
{% endblock %}