{% trans_default_domain 'FOSUserBundle' %}
{% block subject %}
{% autoescape false %}
{{ 'registration.email.subject'|trans({'%username%': user.username, '%confirmationUrl%': confirmationUrl}) }}
{% endautoescape %}
{% endblock %}
{% block body_text %}
{% autoescape false %}
{{ 'registration.email.message'|trans({'%username%': user.username, '%confirmationUrl%': confirmationUrl}) }}
{% endautoescape %}
{% endblock %}
{% block body_html %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" style="height: 100% !important;">
    <head>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="{{ absolute_url(asset('css/emails/registration/style.css')) }}"/>
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Titillium+Web:200,200i,300,300i,400,400i,600,600i,700,700i,900" rel="stylesheet">
    </head>
    <body class="with-preloader" style="font-family: &quot;Titillium Web&quot; sans-serif;font-size: 16px;color: #505050;font-weight: 600;line-height: 20px;text-align: left;margin-bottom: 10px;">
    <div style="margin: 0 auto ; margin-top: 30px; width:100px;">
        <a target="_blank" href="#" style="color: #94bd0d;text-decoration: none;">
            <img border="0" width="100px" src="{{ absolute_url(asset('images/emails/registration/logo.png')) }}" style="border: 0;">
        </a>
    </div>
    <div style="margin: 0 auto ; margin-top: 30px; width:500px;">
        <h1 style="font-family: 'Montserrat', sans-serif;color: #000000;font-weight: 700;font-size: 35px;line-height: 37px;text-align: center;margin-bottom: 30px;">¡Hola {{ user.username }}!</h1>
        <p style="margin-bottom: 10px;">Para confirmar tu correo electrónico y validar tu cuenta pulsa en el siguiente botón:</p>
        <p style="text-align: center;margin-bottom: 10px;"><a target="_blank" href="{{ confirmationUrl }}" style="color: #94bd0d;text-decoration: none;">
                <img border="0" width="296px" src="{{ absolute_url(asset('images/emails/registration/boton.png')) }}" style="border: 0;">
            </a>
        </p>
        <p style="margin-bottom: 10px;">Si el botón anterior no funciona, copia y pega el siguiente enlace en una nueva ventana del navegador:</p>
        <p style="text-align: center;margin-bottom: 10px;">
            <a href="#" style="color: #94bd0d;text-decoration: none;">{{ mremi_url_shorten('google', confirmationUrl) }}</a>
        </p>
        <p style="margin-bottom: 10px;">Si has recibido este mensaje por error, no es necesario que realices ninguna acción para cancelar la cuenta. Tu cuenta no se creará y no recibirás ningún otro mensaje.</p>
        <p style="margin-top: 30px;margin-bottom: 10px;">Atentamente.<br>El equipo wibooki</p>
        <p style="margin-top: 30px;margin-bottom: 10px;">Si tienes cualquier duda, problema o sugerencia, escríbenos a <a href="mailto:info@wibooki.com" style="color: #94bd0d;text-decoration: none;">info@wibooki.com</a> o contáctanos a través de nuestras redes sociales.</p>
    </div>
    <div style="margin: 0 auto ; margin-top: 30px; width:150px;">
        <a target="_blank" href="http://www.facebook.com/wibooki/" style="color: #94bd0d;text-decoration: none;">
            <img border="0" width="30px" style="padding-right: 5px;border: 0;" src="{{ absolute_url(asset('images/emails/registration/facebook-icon.png')) }}">
        </a>
        <a target="_blank" href="http://www.twitter.com/wibooki/" style="color: #94bd0d;text-decoration: none;">
            <img border="0" width="30px" style="padding-right: 5px;border: 0;" src="{{ absolute_url(asset('images/emails/registration/twitter-icon.png')) }}">
        </a>
        <a target="_blank" href="http://www.youtube.com/wibooki/" style="color: #94bd0d;text-decoration: none;">
            <img border="0" width="30px" style="padding-right: 5px;border: 0;" src="{{ absolute_url(asset('images/emails/registration/youtube-icon.png')) }}">
        </a>
        <a target="_blank" href="http://www.pinterest.com/wibooki/" style="color: #94bd0d;text-decoration: none;">
            <img border="0" width="30px" src="{{ absolute_url(asset('images/emails/registration/pinterest-icon.png')) }}" style="border: 0;">
        </a>
    </div>
    </body>
</html>
{% endblock %}
